// 我只是寫個樣子而已，你可以再把它改掉
.SkillAndToolBlock {
  background-color: #f3f4f4;
  .block {
    .skillBlock {
      .skill {
        color: red;
      }
    }
  }
  .SkillAndTool {
    display: flex;
    margin: 20px 0;
    font-weight: bolder;
    font-family: sans-serif;
    position: relative;
    @media screen and (max-width: 800px){
      margin: 10px 30px;
    }
    .skill {
      width: 130px;
      text-align: right;
      margin-bottom: 10px;
      height: 33px;
      font-family: PingFangTC;
      font-size: 24px;
      font-weight: normal;
      text-align: right;
      color: #666;
    }
    .bar {
      flex: 1;
      position: relative;
      transform: translate(0, -100%);
      margin: 22px 9.5px 13px ;
      & > * {
        left: 0;
        top: 50%;
        width: 100%;
        position: absolute;
        transform: translate(0, -50%);
      }

      .gray-line {
        height: 5px;
        background-color: #ccc;
      }
      .hotdog {
        width: 150px;
        height: 21px;
        border-radius: 30px;
        border: 3px solid;
        @media screen and (max-width: 800px){
          display: inline;
        }
      }
        .lv {
          display: none;
          @media screen and (max-width: 800px) {
            display: block;
            text-align: right;
            color: #666,
          }
        }
    }
    & > .lv {
      width: 44px;
      height: 33px;
      font-size: 24px;
      text-align: left;
      color: #cccccc;
      font-family: PingFangTC;
      @media screen and (max-width: 800px){
      display: none;
      }
    }
  }
  
  .block {
    display: flex;
    .SkillBlock, .ToolBlock {
      flex: 1;
    }
    @media screen and (max-width: 800px) {
      display: block;
    }
      .skill, .tool {
        @media screen and (max-width: 800px){
          margin: 0 auto;
        }
      }
  }
  .line {
    margin: 0 auto;
    height: 2px;
    width: 150px;
    border: 2px solid #c0c0c0;
    background-color: #c0c0c0;
    display: inline-block;
  }
}